body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  min-width: 100%;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h1, h2 {
  color: #00a66c;
}

.job {
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #414952;
}

hr {
  border-style: dotted none none;
  border-width: 15px;
  width: 10%;
  height: 15px;
  color: #97de3d;
  margin: 100px auto;
}

.top-container {
  background-color: rgb(157, 207, 157);
  position: relative;
  padding-top: 140px;
}

.middle-container {
  margin: 100px 0;
}

.profile_px {
  max-height: 180px;
  max-width: 180px;
  border-radius: 50%;
  margin-top: 5rem;

}

.skill-row {
  width: 50%;
  margin: 0 auto 100px auto;
  text-align: justify;
}

.codingtime, .code-img {
  max-width: 30%;
  float: left;
  margin-right: 30px;
}

.bottom-container {
  background-color: #59c36a;
  min-height: 100px;
  padding: 50px 0 20px;
}

.top-bamboo {
  position: absolute;
  left: 60%;
  top: 500px;
  max-height: 200px;
}

.bottom-bamboo {
  position: absolute;
  right: 60%;
  bottom: 100px;
  max-height: 200px;
}

p {
  line-height: 2;
}

.intro {
  width: 33.5%;
  margin: 40px auto 60px;
}

.contact-message {
  width: 28%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;
}

.btn {
  background: green;
  background-image: -webkit-linear-gradient(top, #00a66c,  #59c36a);
  background-image: -moz-linear-gradient(top, #00a66c, #59c36a);
  background-image: -ms-linear-gradient(top, #00a66c, #59c36a);
  background-image: -o-linear-gradient(top, #00a66c, #59c36a);
  background-image: linear-gradient(to bottom, #00a66c, #59c36a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: green;
  background-image: -webkit-linear-gradient(top, #59c36a, #97de3d);
  background-image: -moz-linear-gradient(top, #59c36a, #97de3d);
  background-image: -ms-linear-gradient(top, #59c36a, #97de3d);
  background-image: -o-linear-gradient(top, #59c36a, #97de3d);
  background-image: linear-gradient(to bottom, #59c36a, #97de3d);
  text-decoration: none;
}


.footer-link {
  margin: 10px 20px;
  color: #414952;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.free-icons {
  margin-top: 40px;
  color: #555a66;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
}
